/* !important
________________
estilos en linea
________________
Identificadores (id)
________________
clases
pseudo-clases
atributos
________________
elementos
pseudo-elementos */

.colorblue {
    color: #2192c7;
}

h1 {
    color: #ff0000;
}

#idPrueba {
    color: olive;
}

.nombre{
 color: maroon;
}

[prueba="test"] {
color: aqua;
}

h2 {
    color: yellowgreen !important;
}
