*{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
}

.texto {
    padding: 20px;
}

.texto::first-line {
    color: blue;
    font-size: 25px;
}

/* frist-letter
Los cambios se aplican a la primera letra
*/

form {
    margin: 50px auto;
    display: block;
    background: gray;
    width: 50%;
    height: 100px;
    padding: 20px;
}

input {
    padding: 8px;
    width: 250px; 
}

input::placeholder {
    color:red;
    background: rgb(38, 185, 178);
}

input::selection{
    color: purple;
    background: yellow;
}

b {
    margin: 50px auto;
}

b::before{
    content: 'Hola soy Jhonatan ';
    color: green;
}
b::after{
    content:  ', tengo 18 años';
    color: rgb(214, 194, 16);
}